@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");
@import "default.scss";

.progressLoader {
    background-color: $white;
    min-width: 100vw;
    min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    @extend .flex-center;
    flex-direction: column;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark, $alpha: 0.75);
        z-index: 1;
    }

    .loaderContainer {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: -1;

        .loaderGallery {
            transform: rotate(6deg);
            display: flex;
            flex-direction: column;

            .galleryContainer {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                animation: scrollDown 10s linear infinite;
                will-change: transform;

                img {
                    width: auto;
                    height: 37.5rem;
                    object-fit: cover;
                }
            }

            &:nth-child(odd) .galleryContainer {
                animation: scrollUp 10s linear infinite;
            }
        }
    }

    .loaderContent {
        position: relative;
        z-index: 2;
        .imgContainer {
            background: linear-gradient(146.93deg, rgba($white, 0.05) 0%, rgba($white, 0.05) 100%);
            @extend .flex-center;
            max-width: 17.8125rem;
            min-height: 21.875rem;
            max-height: 21.875rem;
            padding: $commonUnit;
            margin-bottom: $commonUnit;
            backdrop-filter: blur(0.75rem);
            border: 0.0625rem solid rgba($color: $white, $alpha: 0.2);
            border-radius: $commonUnit;

            img {
                max-width: 75% !important;
            }
        }

        .progress {
            height: 0.375rem;
            background: $white;
            border-radius: 0.375rem;
            overflow: hidden;

            .progress-bar {
                transition: width 0.3s ease;
            }
        }
    }
}

// Topbar
.topbar {
    background: $dark !important;
    color: $white;
    width: 100%;
    padding: $commonUnit / 2 $commonUnit !important;

    .topbarContent {
        @extend .flex-center-between;
        flex-wrap: wrap;
        padding: 0 !important;

        .social {
            @extend .flex-center-start;
            gap: $commonUnit;

            .socialIcon {
                color: $white;
                transition: color 0.3s;

                &:hover {
                    color: $secondary;
                }
            }
        }
        .quickLinks {
            @extend .flex-center-start;
            gap: $commonUnit / 2;

            a {
                font-size: $medium;
                color: $white;
                transition: color 0.3s;
                @extend .flex-center-start;
                gap: 0.3rem;

                &:hover {
                    color: $secondary;
                }
                i {
                    font-size: $xLarge;
                    color: $secondary;
                }
            }
        }
    }
}
header {
    width: 100%;
    // Navbar
    .navbar {
        background-color: $white;
        border-top: 0.0625rem solid $border;
        border-bottom: 0.0625rem solid $border;

        .navbar-brand img {
            max-width: 21.875rem !important;
        }

        .nav-item .nav-link {
            font-size: $medium - 0.0625rem;
            font-weight: 700;
            text-transform: uppercase;
            @extend .flex-center;
            height: 100%;

            &.active,
            &:hover {
                color: $primary;
            }
            &.btn-link {
                color: $primary;
                background-color: rgba($color: $primary, $alpha: 0.1);
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 4;
            }
        }
    }
    .notification {
        background-color: $primary;
        .notificationsContainer {
            @extend .flex-center-start;
            gap: $commonUnit / 2;

            .title {
                font-size: $large;
                font-weight: 600;
                color: $white;
                @extend .flex-center-start;
                gap: $commonUnit / 2;
                white-space: nowrap;
                background-color: rgba($color: $white, $alpha: 0.08);
                padding: $commonUnit / 2;
            }
            .notificationListContainer {
                overflow: hidden;
                flex-grow: 1;

                .notificationList {
                    list-style-type: none;
                    margin: 0;
                    @extend .flex-center-start;
                    gap: $commonUnit / 2;
                    white-space: nowrap;
                    animation: marquee 20s linear -20s infinite forwards;

                    li {
                        color: $white;

                        i {
                            color: $warning;
                        }
                    }
                }
            }
        }
    }
}
#desktopMenu {
    background-color: $dark;

    .offcanvas-header {
        background-color: $tertiary;
        h3 {
            font-size: $h5;
            text-align: center;
            color: $white !important;
            margin-bottom: 0;
        }
    }
    .offcanvas-body {
        padding: $commonUnit;
        li {
            .nav-link {
                font-size: $medium;
                text-transform: uppercase;
                color: $white;
                background-color: rgba($color: $primary, $alpha: 0.15);
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 3;
                &:hover,
                &.active {
                    background-color: $primary;
                }
                span {
                    margin-left: $commonUnit / 3;
                }
            }
        }
    }
}
// Menu
.menu {
    background-color: $dark;
    @extend .flex-center-start;
    flex-wrap: wrap;
    gap: 3.125rem;
    position: relative;
    padding: 6.25rem;
    height: 100vh;
    overflow: hidden;

    .close-btn {
        position: absolute;
        top: 3.125rem;
        right: 3.125rem;
        z-index: 2;
        content: "";
        cursor: pointer;
        font-size: $h3 * 2;
        text-decoration: none;
        line-height: normal;
        color: $white;
    }

    .mainMenu,
    .menuContact {
        position: relative;
        z-index: 2;
    }

    .mainMenu {
        flex-grow: 1;
        border-right: 0.0625rem solid $border;

        ul {
            list-style-type: none;
            @extend .flex-start;
            flex-direction: column;
            gap: 1.25rem;
            counter-reset: menuCounter;

            li {
                width: 100%;

                a {
                    font-size: $h3;
                    font-weight: 400;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: $gray;
                    display: block;
                    transform-origin: left top;
                    transition: 500ms 0ms;

                    &::before {
                        font-size: $medium;
                        color: $white;
                        counter-increment: menuCounter;
                        content: counters(menuCounter, ".", decimal-leading-zero) ". ";
                    }

                    &:hover {
                        letter-spacing: 0.0375rem;
                        color: $primary;
                    }
                }
            }
        }
    }

    .menuContact {
        padding: 3.125rem;

        .contactDetail {
            @extend .flex-start;
            flex-direction: column;
            margin-bottom: 1.25rem;
            max-width: 28.125rem;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-size: $large;
                font-weight: 500;
                letter-spacing: 0.0313rem;
                text-transform: uppercase;
                color: $white;
                margin-bottom: 0.625rem;
            }

            address,
            a {
                font-size: $medium;
                font-weight: 500;
                letter-spacing: 0.0313rem;
                color: $gray;
            }

            a {
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }

            .contactNumbers {
                @extend .flex-center-start;
                gap: 0.625rem;

                span {
                    color: $gray;
                    margin: 0;
                }
            }

            .social {
                @extend .flex-center-start;
                gap: 1.25rem;

                a {
                    font-size: $h5;
                    line-height: normal;
                    color: $gray;
                    padding: 0.25rem 0.5rem;
                    border: 0.0625rem solid $border;
                    border-radius: 0.25rem;
                    display: block;
                    transition: ease-in-out 1s;

                    &:hover {
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
        }
    }

    .menuText {
        font-size: $h1 * 7;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -0.625rem;
        color: $gray;
        opacity: 0.1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}
// Sidebar
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 9.375rem;
    min-width: 20rem;
    max-width: 21.875rem;
    height: auto;
    background-color: $dark;
    border-radius: $cardRadius;
    overflow: hidden;
    flex-grow: 1;

    .sidebarHeader,
    .sidebarContent {
        width: 100%;
    }
    .sidebarHeader {
        background-color: $tertiary;
        padding: $commonUnit / 2;

        h3 {
            font-size: $h5;
            text-align: center;
            color: $white !important;
            margin-bottom: 0;
        }
    }
    .sidebarContent {
        padding: $commonUnit;

        li {
            .nav-link {
                font-size: $medium;
                text-transform: uppercase;
                color: $white;
                background-color: rgba($color: $primary, $alpha: 0.15);
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 3;
                &:hover,
                &.active {
                    background-color: $primary;
                }
                span {
                    margin-left: $commonUnit / 3;
                }
            }
        }
    }
}
// Video Btn
.videoBtn {
    @extend .flex-center;
    $wh: 6.25rem;
    width: $wh;
    height: $wh;
    border: 0.125rem solid $white;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0rem 0.1465rem 0.1465rem rgba(0, 0, 0, 0.25);
    animation: animateBtn 3s linear infinite;

    i {
        font-size: $h4;
        color: $dark;
    }
    @keyframes animateBtn {
        0% {
            box-shadow: 0 0 0 0 rgba($white, 0.3);
        }

        40% {
            box-shadow:
                0 0 0 0.75em rgba($white, 0.1),
                0 0 0 1.5em rgba($white, 0.3);
        }

        80% {
            box-shadow:
                0 0 0 1.25em rgba($white, 0.05),
                0 0 0 3em rgba($white, 0.15);
        }

        100% {
            box-shadow:
                0 0 0 2em rgba($white, 0),
                0 0 0 5em rgba($white, 0);
        }
    }
}
// Avatar Card
.avatarCard {
    background-color: $primary;
    border-radius: $cardRadius;
    overflow: hidden;
    border: none;
    position: relative;
    figure {
        margin: 0 !important;
        border-radius: 0 !important;
        position: relative;

        .videoBtn {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            $wh: 4rem;
            width: $wh;
            height: $wh;
        }
    }
    .cardContent {
        background-color: $dark;
        padding: $commonUnit;

        h3,
        p {
            margin-bottom: 0;
        }
        h3 {
            font-size: $h5;
            font-weight: 600;
            color: $white;
        }
        p {
            font-size: $medium;
            color: $white;
            opacity: 0.5;
            &.department {
                color: $warning;
                opacity: 1;
            }
        }
    }
    &:hover {
        .cardContent {
            background-color: lighten($primary, 10%);

            p {
                opacity: 1;
                &.department {
                    color: $white;
                }
            }
        }
        figure img {
            transform: scale(1.1) rotate(2deg);
        }
    }
}
// Main

// Hero
.hero {
    .heroSlide {
        position: relative;
        min-height: 85vh;
        @extend .flex-center;
        flex-direction: column;

        // &::after {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba($color: $dark, $alpha: 0.6);
        //     content: "";
        //     z-index: 0;
        // }

        .heroContent {
            position: relative;
            z-index: 2;
            max-width: 40.625rem;
            span,
            h1,
            p {
                color: $white;
            }
            span {
                background: $dark;
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 3;
                display: inline-block;
            }
            h1 {
                font-size: $h1 + $medium;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
        &.addOverlay::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba($color: $dark, $alpha: 0.2) 40%, $light 86%);
            content: "";
            z-index: 0;
        }
    }
    .paginationContainer {
        @extend .flex-center-between;
        position: absolute;
        bottom: 6.25rem;
        width: calc(100% - 30%);
        margin: 0 15%;

        .swiper-pagination {
            position: static !important;
            .swiper-pagination-bullet {
                background-color: $white;
            }
            .swiper-pagination-bullet-active {
                background-color: $secondary;
            }
        }
        .navigation {
            @extend .flex-center;
            gap: $commonUnit;

            .swiper-button-next,
            .swiper-button-prev {
                position: static !important;
                $wh: 3rem;
                width: $wh !important;
                height: $wh !important;
                // background-color: $white;
                border-radius: 50%;
                @extend .flex-center;
                color: $dark;

                &::after {
                    font-size: $medium;
                    font-weight: 600;
                }
            }
        }
    }
}

// About
.about {
    figure {
        @extend .flex-center;
        height: 100%;

        img {
            max-width: 60% !important;
            margin: auto;
        }
    }
    .pgHeader {
        margin: 0 !important;
    }
}
// Departments
.departments {
    .departmentCard {
        position: relative;
        border-radius: $cardRadius;
        overflow: hidden;

        figure {
            background-color: rgba($color: $dark, $alpha: 0.03);
            overflow: hidden;

            img {
                transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }

        .departmentContent {
            @extend .flex-start-end;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            padding: $commonUnit;
            background: linear-gradient(180deg, rgba($dark, 0) 0%, $dark 100%);
            transform: translateY($commonUnit);
            transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            h3,
            p {
                color: $white;
                margin-bottom: 0;
            }

            h3 {
                font-size: $h5;
            }

            p {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                margin-top: $commonUnit / 2;
                transition:
                    opacity 0.3s ease-out,
                    max-height 0.3s ease-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.1) rotate(0.5deg);
            }

            .departmentContent {
                transform: translateY(0);

                p {
                    opacity: 1;
                    max-height: 10rem;
                }
            }
        }
    }
}

// Video

.videoSection {
    @extend .flex-center-start;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    cursor: none;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark, $alpha: 0.5);
        content: "";
        z-index: 1;
    }

    .playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        pointer-events: none;

        $wh: 250px;
        width: $wh;
        height: $wh;
        // border-radius: 50%;
        // background-color: rgba($color: $white, $alpha: 0.2);
        // box-shadow:
        //     0 0 1rem rgba($color: $white, $alpha: 0.2) inset,
        //     0 0 0.5rem rgba($color: $dark, $alpha: 0.1);
        // -webkit-backdrop-filter: blur(0.2rem);
        // backdrop-filter: blur(0.2rem);
        // @extend .flex-center;
        // flex-direction: column;
        // gap: $commonUnit;
        // border: 0.0625rem solid rgba($color: $white, $alpha: 0.5);

        h3 {
            font-size: $h5;
            color: $white;
            text-align: center;
            margin: 0;
        }
    }
}

.aboutUs {
    dl {
        margin-bottom: $commonUnit;
        dt {
            font-family: "Bona Nova", serif;
            font-size: $h4;
            font-weight: 600;
            color: $dark;

            i {
                color: $primary;
            }
        }
        dd {
            margin-left: $commonUnit * 2;
        }
    }
}

// Blogs
.blogs {
    .blogCard {
        background-color: $white;
        border-radius: $cardRadius;
        border: $commonBorder;
        height: 100%;
        overflow: hidden;
        box-shadow: $cardShadow;

        figure {
            overflow: hidden;
            img {
                transition: all 0.9s ease-in-out;
            }
        }
        .blogContent {
            padding: $commonUnit;
            h3 {
                font-size: $h5;
            }
        }
        &:hover figure img {
            transform: scale(1.1) rotate(0.5deg);
        }
    }
}

// academics
.academics {
    .contentCard .content {
        .subjectList {
            @extend .flex-center-start;
            flex-wrap: wrap;
            gap: $commonUnit / 2;
            padding-left: 0;
            margin-bottom: $commonUnit * 2;
            li {
                font-weight: 600;
                text-align: center;
                list-style-type: none;
                color: $dark;
                // flex-grow: 1;
                background-color: rgba($color: $tertiary, $alpha: 0.05);
                border: 0.0625rem solid $tertiary;
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 2;
                &:last-child {
                    flex-grow: 0;
                }
            }
        }
    }
}
// Admission
.admission {
    &.admissionProcess {
        .admissionProcessList {
            counter-reset: listItem;
            list-style-type: none;
            padding-left: 0;
            margin: $commonUnit * 2 0 0;

            li:not(:last-child) {
                padding-bottom: $commonUnit / 2;
                margin-bottom: $commonUnit;
                border-bottom: 0.0625rem dashed $border;
            }
            h4 {
                font-size: $h5;
                color: $dark;
                margin-bottom: 0;
                &::before {
                    counter-increment: listItem;
                    content: counter(listItem) ". ";
                }
            }
        }
    }
}
// School Calendar
.schoolCalendar {
    figure {
        img {
            padding: $commonUnit;
            margin-bottom: $commonUnit;
            border: $commonBorder;
            border-radius: $cardRadius;
        }
    }
}
// barnicles
.barnicles {
    .barnicleCard {
        background-color: $white;
        height: 100%;
        display: block;
        padding: $commonUnit / 2;
        border: 2px outset $primary;
        border-radius: $cardRadius;

        figure {
            @extend .flex-center;
            margin: 0 0 $commonUnit / 2 !important;
            min-height: 20rem;
            // max-height: 20rem;
            img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
                display: block;
                margin: 0 auto;
                transition: transform 0.8s ease;
                border: $commonBorder;
                border-radius: $cardRadius;
            }
        }

        h6 {
            font-size: $large;
            text-align: center;
            margin: 0;
        }
        &:hover {
            box-shadow: $cardShadow;
        }
    }
}
.feeStructure {
    .feeCard {
        @extend .flex-center-between;
        gap: $commonUnit;
        flex-wrap: wrap;
        background: $white;
        padding: $commonUnit / 2 $commonUnit;
        margin-bottom: $commonUnit / 2;
        height: 100%;
        border: $commonBorder;
        border-radius: $cardRadius / 2;
        // box-shadow: 0 2px 12px rgba(110, 140, 170, 0.1);

        h3 {
            font-size: $xLarge;
            color: $dark;
            margin: 0;
        }
        .subTitle {
            font-size: $large;
            color: $gray;
            opacity: 0.6;
            margin-bottom: 0;
        }
        .fee {
            font-size: $h5;
            font-weight: 700;
            text-align: right;
            color: $primary;
            display: block;
            margin: 0;
            line-height: normal;
        }
        .info {
            font-size: $small;
            font-weight: 700;
            color: $dark;
            opacity: 0.8;
        }
    }
}

//   Footer {
footer {
    background: $dark;
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        content: "";
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(../media/footer-bg.jpg) no-repeat fixed center/cover;
        // mix-blend-mode: luminosity;
        opacity: 0.1;
    }
    .footerContent {
        padding: 50px 50px 0;

        .footerCard {
            position: relative;
            z-index: 2;
            padding: $commonUnit;
            height: 100%;

            .footerLogo {
                display: flex;
                height: 100%;

                img {
                    max-width: 150px !important;
                    margin: auto;
                }
            }

            h6 {
                font-size: $h5;
                text-transform: capitalize;
                color: $white;
                margin-bottom: $commonUnit;
                display: inline-block;

                &::after {
                    position: absolute;
                    bottom: -$commonUnit;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    content: "";
                    z-index: 2;
                    background: url(../media/stroke.svg) no-repeat;
                }
            }

            p,
            a,
            span {
                font-size: $medium;
                color: $white;
                margin-bottom: commonUnit / 2;
                display: block;
            }
            a:hover {
                color: $tertiary;
            }
            .contactChip {
                margin-bottom: $commonUnit;
                h5 {
                    font-size: $h5;
                    color: $white;
                    display: block;
                    margin-bottom: $commonUnit / 3;
                }
                span {
                    color: $white;
                    margin-bottom: 0;
                }
                p,
                a {
                    margin: 0;
                }
            }
        }
    }
    .copyright {
        font-size: $medium;
        color: $white;
        position: relative;
        z-index: 4;
        background: linear-gradient(
            132.78deg,
            rgba($color: $white, $alpha: 0.02) 0%,
            rgba($color: $white, $alpha: 0.02) 100%
        );
        backdrop-filter: blur(commonUnit / 2);
        padding: $commonUnit;
        border-top: 1px solid rgba($color: $white, $alpha: 0.1);

        .copyrightContent {
            @extend .flex-center-between;
            flex-wrap: wrap;
            p {
                font-size: $medium;
                color: $white;
                margin: 0;
            }
            a {
                color: $white;
                &:hover {
                    color: $tertiary;
                }
            }
            .copyrightLinks {
                @extend .flex-center-start;
                flex-wrap: wrap;
                gap: commonUnit / 2;
            }
        }
    }
}

// Pages Scss Starts

// Enquiry Modal
.modal {
    .modal-header {
        .modal-title {
            font-size: $h6;
            font-weight: 600;
            color: $white;
        }
    }
    &#enquiryModal {
        .modal-body {
            padding: $commonUnit * 2 !important;
        }
    }
}

// Swiper Gallery
.swiper {
    height: fit-content !important;
    &.swiperGallery {
        padding: 0;
        margin-bottom: $commonUnit;
        border-radius: $commonUnit;
        overflow: hidden;

        .swiper-slide img {
            width: 100% !important;
            // height: 25rem;
            margin: auto !important;
            object-fit: contain;
        }
    }
    &.thumbs {
        margin-bottom: 0;
        .swiper-slide {
            img {
                width: 100% !important;
                height: 6.25rem !important;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: $commonUnit / 2;
                filter: grayscale(0.9);
            }
            &.swiper-slide-thumb-active {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba($color: $white, $alpha: 0.2);
        $wh: $commonUnit * 3;
        width: $wh !important;
        height: $wh !important;
        border-radius: 50%;
        transition: background 1s linear;
        &::after {
            font-size: $h5;
            font-weight: 600;
            color: $white;
        }
        &:hover {
            background-color: rgba($color: $white, $alpha: 1);
            &::after {
                color: $dark;
            }
        }
    }
}

// Blog Details
.blogDetails {
    h1 {
        font-size: $h2;
        font-weight: 700;
    }

    .blogHero {
        margin: $commonUnit * 2 0;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            max-height: 31.25rem;
            object-position: center;
            border-radius: $cardRadius * 2;
        }
    }
    article {
        p {
            text-align: justify;
            text-align-last: left;
        }

        p.lead,
        p:empty,
        div:empty,
        div:has(br:only-child) {
            display: none;
        }
        ol ul:has(li) {
            p,
            p > span {
                font-size: inherit !important;
                margin-bottom: 0;
            }
        }
    }

    .pagination {
        @extend .flex-start-between;
        gap: $commonUnit;
        flex-wrap: wrap;
        background-color: $white;
        padding: $commonUnit;
        margin-top: $commonUnit * 2;
        border-radius: $cardRadius;
        .next,
        .previous {
            flex-grow: 1;
        }

        .previous {
            text-align: left;
        }

        .next {
            text-align: right;
        }

        a {
            display: block;
        }

        .paginationLink {
            font-size: $xLarge;
            font-weight: 600;
            color: $primary;
        }

        .titleLink {
            font-size: $medium;
            font-weight: 600;
            color: $dark;
            margin-top: $commonUnit;

            &:hover {
                color: $dark;
            }
        }
    }
    .blogSidebar {
        padding-left: $commonUnit;
        .sidebarContent {
            background-color: $white;
            padding: $commonUnit;
            margin-bottom: $commonUnit;
            border-radius: $cardRadius;

            .sidebarHeader {
                padding-bottom: $commonUnit;
                margin-bottom: $commonUnit;
                border-bottom: $commonBorder;
                h3 {
                    font-size: $h5;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin: 0;
                }
            }
            .recentPost {
                @extend .flex-center;
                gap: $commonUnit / 2;
                margin-bottom: $commonUnit / 2;

                .postThumb img {
                    width: 5rem;
                    height: 3.125rem;
                    object-fit: cover;
                    border-radius: $cardRadius / 2;
                }
                .postContent {
                    .postTitle {
                        font-size: $medium;
                        font-weight: 700;
                        color: $dark;
                        -webkit-line-clamp: 1;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0;
                        &:hover {
                            color: $primary;
                        }
                    }
                    p {
                        font-size: $small;
                        color: $gray;
                        margin: 0;
                    }
                }
            }
            ul,
            ol {
                list-style-type: none;
                padding-left: 0;
                @extend .flex-start;
                flex-direction: column;
                gap: $commonUnit / 2;

                li {
                    margin: 0;
                    a {
                        font-size: $medium;
                        font-weight: 600;
                        color: $dark;
                        display: block;
                        &:hover {
                            color: $dark;
                        }
                    }
                }
                &.blogTags {
                    @extend .flex-center-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: $commonUnit / 2;

                    a {
                        background-color: $light;
                        padding: 0.25rem $commonUnit / 2;
                        border: $commonBorder;
                        border-radius: $cardRadius;
                    }
                }
            }
        }
    }
}

// Downloads
.downloads {
    .pgHeader {
        margin-bottom: $commonUnit * 2;
    }
    .downloadCard {
        background-color: $white;
        padding: $commonUnit;
        border: $commonBorder;
        border-radius: $cardRadius;

        figure {
            margin-bottom: $commonUnit * 2;
            img {
                max-width: 60% !important;
                display: block;
                margin: 0 auto;
                transition: transform 0.5s ease;
            }
        }
        .downloadCardBody {
            h6,
            h3 {
                text-align: center;
                margin-bottom: 0;
            }
            h6 {
                font-size: $medium;
                color: $primary;
            }
            h3 {
                font-size: $h6;
            }
        }
        .downloadCardFooter {
            .dropdown {
                .btn {
                    font-size: $small;
                    @extend .flex-center-between;
                    width: 100%;
                }

                .dropdown-menu {
                    width: 100%;

                    li a {
                        @extend .flex-center-between;

                        i {
                            color: $primary;
                        }

                        &:hover {
                            background-color: $dark;
                            color: $white;

                            i {
                                color: $secondary;
                            }
                        }
                    }

                    .dropend {
                        position: relative;

                        .dropdown-menu {
                            top: 0;
                            left: 100%;
                            margin-top: -1px;

                            // Responsive fix for small screens
                            @media (max-width: 1919.98px) {
                                top: 100%;
                                left: 0%;
                            }
                        }
                    }
                }
            }
        }
        &:hover figure {
            img {
                transform: scale(1.1) rotate(0.5deg);
            }
        }
    }
}

// Contact Us
.contactUs {
    .contactInfo {
        background-color: $dark;
        border-radius: $cardRadius;
        overflow: hidden;

        figure {
            overflow: hidden;
            max-height: 18.75rem;
            img {
                width: 100%;
                height: 100%;
                transition: transform 0.5s ease;
            }
        }
        .contactInfoContent {
            padding: $commonUnit;
            h3,
            h4,
            address {
                color: $white;
                margin-bottom: 0.25rem;
            }
            h3 {
                font-size: $h5;
            }
            h4 {
                font-size: $large;
            }
            address {
                font-size: $medium;
            }
            hr {
                margin: $commonUnit 0;
            }
            .contactInfoChip {
                margin-bottom: $commonUnit;
                h6 {
                    font-size: $xLarge;
                    font-weight: 600;
                    color: $white;
                    display: block;
                    margin-bottom: $commonUnit / 3;
                }
                span,
                a {
                    font-size: $large;
                    color: $white;
                    margin-bottom: 0;
                }
                p,
                a {
                    margin: 0;
                }
                i {
                    color: $secondary;
                }
                a:hover {
                    color: $secondary;

                    i {
                        color: $white;
                    }
                }
            }
        }
        &:hover figure {
            img {
                transform: scale(1.1) rotate(0.5deg);
            }
        }
    }
    .contactCard {
        background-color: $white;
        height: 100%;
        padding: $commonUnit * 2;
        border-radius: $cardRadius;

        .pgHeader {
            margin-bottom: $commonUnit;
        }
        &.form {
            background-color: $white;
            border: $commonBorder;
            box-shadow: $cardShadow;
        }
        h3 {
            margin-bottom: $commonUnit * 2;
        }
        .contactChip {
            background-color: $light;
            @extend .flex-center-start;
            gap: $commonUnit;
            padding: $commonUnit;
            margin-bottom: $commonUnit;
            border-radius: $cardRadius;

            .icon {
                $wh: 4.375rem;
                min-width: $wh;
                min-height: $wh;
                @extend .flex-center;
                background-color: $primary;
                border-radius: $cardRadius;

                i {
                    font-size: $h3 - 0.4rem;
                    color: $white;
                }
            }
            .contactDetail {
                h5 {
                    font-size: $h5;
                    color: $dark;
                    display: block;
                    margin-bottom: $commonUnit / 3;
                }
                span,
                a {
                    font-weight: 500;
                    color: $dark !important;
                    line-height: 1.3;
                    display: block;
                    margin-bottom: 0;
                }
            }
        }
    }
}
// Map {
.map {
    padding: 0 !important;
}
// Media Queries
// Tablet
@media (max-width: 991.98px) {
    .navbar {
        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $white;
            z-index: 1000;
            padding: $commonUnit 15%;
            box-shadow: $cardShadow;
        }
    }
    // Application Industries
    .applicationIndustries {
        .applicationImg img {
            margin-left: 0;
            width: 100% !important;
        }
    }
    // Green Energy
    .greenEnergy {
        .greenBulb img {
            width: 50% !important;
            margin: auto;
            display: block;
        }
    }
    // Breadcrumbs
    .breadcrumbs {
        background-attachment: unset !important;
        min-height: 12.5rem;
        background-size: cover !important;
    }
    .revealContainer {
        .revealContent {
            padding-left: 0 !important;
        }
    }
    // About Us
    .about figure .radiusEmblem {
        right: 5rem;
    }
    // Video Section
    .videoSection {
        min-height: 50vh !important;
        max-height: 100vh !important;
    }
}
// Mobile
@media (max-width: 575.98px) {
    section {
        padding: 3.125rem 1.25rem !important ;
    }
    .topbar {
        .social {
            display: none !important;
        }
    }
    .pgHeader {
        margin-bottom: $commonUnit !important;
        h2 {
            font-size: $h4 !important;
        }
    }
    .hero {
        .heroSlide {
            min-height: 100vh;
            .btnGroup {
                flex-wrap: wrap;
                .btn {
                    flex-grow: 1;
                    width: 100%;
                }
            }
        }
        .paginationContainer {
            flex-wrap: wrap;
            bottom: 1rem;
        }
    }
    .applicationIndustries {
        .counterCard {
            flex-wrap: wrap;
        }
    }
    // Make In India
    .makeInIndia {
        video {
            width: 100%;
        }
    }
    .revealContainer {
        h2 {
            font-size: $h3 !important;
        }
    }
    .suryagharScheme .schemeContent {
        padding: $commonUnit;
        .schemeCard {
            &.cardBorder {
                border-right: none !important;
                border-bottom: 0.0625rem solid rgba($color: $white, $alpha: 0.2);
            }
            .schemeCardList {
                padding-bottom: $commonUnit;
            }
        }
    }

    .testimonials {
        .testimonialCard {
            padding: $commonUnit !important;
            margin-left: 0 !important;
            height: auto !important;
        }
    }
    .newsletter {
        .input-group {
            input,
            .btn {
                flex-grow: 1;
                min-height: 3.4375rem !important;
                width: 100%;
            }
        }
    }
    // About us
    .about {
        .radiusEmblem {
            top: 2rem !important;
            right: 1.2rem !important;
            width: 8rem !important;
        }
    }
    .director .pgHeader {
        padding: $commonUnit;
    }
    .videoSection {
        min-height: 70vh;
        background-position: right;

        .videoContent .videoTitle {
            margin-top: 2.5rem;
        }
    }
    .missionVision .mvCard {
        padding: $commonUnit !important;
    }
    // Product Details
    .productDetails {
        .swiper.swiperGallery .swiper-slide img {
            height: 100% !important;
        }
        .productInfo {
            padding-left: 0 !important;

            h1 {
                font-size: $h4;
            }
        }
    }
    // Blogs
    .blogDetails {
        .blogSidebar {
            padding-left: 0;
        }
        .blogContent {
            h1 {
                font-size: $h4 !important;
            }
            .blogHero {
                margin: $commonUnit 0;
                img {
                    border-radius: $cardRadius !important;
                }
            }
        }
        .pagination {
            .previous,
            .next {
                text-align: left !important;
            }
        }
    }
    .scrollingTabs {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .nav-tabs {
            display: inline-flex;
            flex-wrap: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
