// Main Theme
$primary: #0071bf;
$secondary: #00b0ff;
$tertiary: #fc6e30;
$dark: #000b20;
$gray: #343e45;
$white: #ffffff;
$light: #f5f9fd;
$border: #e4e4e4;
$glossy: linear-gradient(139.46deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);

// Action Colors
$info: #55b8e7;
$success: #28a745;
$warning: #ffa501;
$danger: #d62828;
